.blog-pager-older-link,.blog-pager-newer-link{padding:0px !important;margin:0px !important;width:50px !important;}
.mobile .blog-pager-older-link{padding:6px !important;position:relative;right:70px;background-color:#dddddd;width:100px !important;}
.mobile .blog-pager-newer-link{padding:6px !important;background-color:#dddddd;width:100px !important;}
.iframe-16x9 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.iframe-4x3 {
    position: relative;
    padding-bottom: 75%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.iframe-1x1 iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 500px;
    height: 500px;
}
 .iframe-1x1 {
    position: relative;
    padding-bottom: 500px;
    padding-top: 15px;
    height: 0;
    overflow: hidden;
}
.mobile .iframe-1x1 {
    position: relative;
    padding-bottom: 100%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.iframe-16x9 iframe, .iframe-4x3 iframe, .mobile .iframe-1x1 iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* MenuBar 下拉選單條整體外框設定 */
#mydragmenu {
 width: 100%;
 height: 35px;
 margin: 0 auto;
 background-color: rgba(0, 61,121, 0.8);
}
#mydrag {
 margin: 0;
 padding: 0;
}

#mydrag ul,#mydrag li {
 float: left;
 list-style: none;
}

#mydrag li a, #mydrag li a:link, #mydrag li a:visited {
 color: #ffffff;
 display: block;
 margin: 0;
 padding:8px 20px;
 font-size:1em;
 border-top:0px !important;
 border-bottom:0px !important;
}

/* 主選單(最上層)被選取時(selected)的設定 */
#mydrag li a:hover, #mydrag li a:active {
 color:#FFD306;
 text-decoration: none;
}

/* 子選單(第二層以後) 下拉選單外框設定 */
#mydrag li li a, #mydrag li li a:link, #mydrag li li a:visited {
 background-color: rgba(0, 61,121, 0.7);
 width: 120px;
 color: #ffffff;
 border-bottom: 1px solid #ffffff !important;
border-left: 0px !important;
 padding: 13px 18px;
 font-size:0.9em;
 font-weight:normal !important;
}

/* 子選單(第二層以後)被選取時(selected)的設定 */
#mydrag li li a:hover, #mydrag li li a:active {
 color:#FFD306;
}

#mydrag li {
 float: left;
 padding: 0;
}

#mydrag li ul {
 z-index: 9999;
 position: absolute;
 left: -999em;
 height: auto;
 width: 150px;
 margin: 0;
 padding: 0;
}

#mydrag li ul a {
 width: 150px;
}

#mydrag li ul ul {
 margin: -32px 0 0 180px;
}

#mydrag li:hover ul ul, #mydrag li:hover ul ul ul, #mydrag li.sfhover ul ul, #mydrag  li.sfhover ul ul ul {
 left: -999em;
}

#mydrag li:hover ul, #mydrag li li:hover ul, #mydrag li li li:hover ul, #mydrag li.sfhover ul, #mydrag li li.sfhover ul, #mydrag li li li.sfhover ul {
 left: auto;
}

#mydrag li:hover, #mydrag li.sfhover {
 position: static;
}
/*-首頁輪播-*/
	#hppic a img {
		border: none;
	}
	#hppic {
		position: relative;
		width: 1024px;
		height: 579px;
		margin-left:30px;
        overflow:hidden;
	}
	#hppic a.hppiclink {
		position: absolute;
	}
	#hppic .control {
		position: absolute;
		right: 45%;
		bottom: 10px;
	}
	#hppic .control a {
		display: inline-block;
		padding: 3px;
		margin: 0 3px;
		width: 16px;
		color: #fff;
		text-align: center;
		font-size: 14px;
		text-decoration: none;
                background-color: rgba(0, 114,227, 0.5);
	}
	#hppic .control a.on {
		font-weight: bold;
		color: #FFD306;
	}
/*-首頁輪播end-*/
/*-mobile首頁輪播-*/
	#abgneBlock {
		width: 370px;
		height: 90px;
		position: relative;
		overflow: hidden;
		padding: 0 !important;
		margin: 0 !important;
	}
	#abgneBlock ul.list {
		padding: 0 !important;
		margin: 0 !important;
		list-style: none;
		position: absolute;
		width: 1200px;
		height: 100%;
	}
	#abgneBlock ul.list li {
		float: left;
		width: 370px;
		height: 100%;
		padding: 0 !important;
		margin: 0 !important;
	}
	#abgneBlock .list img{
		width: 98%;
		height: 98%;
		border: 0px;
		padding: 0 !important;
		margin: 0 !important;
	}
	#abgneBlock ul.playerControl {
		padding: 0 !important;
		margin: 0 !important;
		list-style: none;
		position: absolute;
		bottom: 5px;
		right: 5px;
		height: 14px;
	}
	#abgneBlock ul.playerControl li {
		float: left;
		width: 0px;
		height: 0px;
		cursor: pointer;
		padding: 0 !important;
		margin: 0 !important;
		background: url() no-repeat -10px 0;
	}
	#abgneBlock ul.playerControl li.current { 
		background-position: 0 0;
	}
/*-mobile首頁輪播-*/

.post-header img {
max-width:100%; }

      #layout {
        min-width: 0;
      }

      #layout .content-outer {
        min-width: 800px;
        width: 1024px;
      }

      #layout .region-inner {
        min-width: 0;
        width: auto;
      }


	   .myhead, .myhead1, .myheadtrip, .myheadtrip1
		{		  	  
		  color: #e06666;
		  margin-bottom:10px;
		  font-weight:bold;
          width:94%;
		  padding:0 0 0 20px ;
		  border-bottom:solid 1px #dddddd;
		}
		.myhead, .myheadtrip
		{
			margin-top:30px;
		}
	   .myhead, .myhead1
		{
		background: url("https://lh3.googleusercontent.com/-AaEuszSHC2Y/VclObB9uc1I/AAAAAAAAFls/I4M4ooZwfMM/s16-Ic42/fork.png") no-repeat left center ;
		}
		.myheadtrip, .myheadtrip1
		{
		background: url("https://lh3.googleusercontent.com/-7YGAVnnVs5I/VclObGcCjsI/AAAAAAAAFlo/4XZubaCHXkY/s15-Ic42/palm.png") no-repeat left center ;
		}

       .myheadline
      		{
background:url("https://3.bp.blogspot.com/-5Be99ENHmqM/XEbJ_dt2__I/AAAAAAAArIo/yxnWeYpjN34oBgftOQZpSsRkI7UOkiG7ACKgBGAs/s1600/%25E8%258B%25A6%25E7%2593%259C%25E4%25BA%25BA%25E6%258A%2595test1.png") no-repeat left 10px center ;
		  color: #222;
		  font-weight:bold;
          font-size:1.2em;
		  line-height:2em;
          width:89%;
		  padding:0 0 0 50px ;
		  background-color:#f1f1f1;
		  border-bottom:dashed 4px #dddddd;
		    } 

       .andrewdiscount
      		{
background:url("https://blogger.googleusercontent.com/img/a/AVvXsEgfjjb0jrQGc2qRzqNpPB17Gidv9zRgPE_3RDH0gm1AcgFefhCUWpAHzSeOshp2RgB1HXm3vyN2w7IC83N5bbEcD00hl5Fnbggrw94WvVlF4O_TBh574WjdfS4u9PDm-MuYFLaA2z_qcQJmtlaW9b3IJlm6os0xP22BBkgZyiE5WFBTeKD4hkSKy54IwA") no-repeat left 5px center ;
		  color: #222;
          font-size:0.8em;
		  line-height:1em;
		  font-style:italic;
		  padding-left:30px;
		  background-color:#f1f1f1;
		  background-size:contain;
		    } 

		.myitinerary
			{
				padding:1em !important;

			}
		.myitinerary li
			{
				margin-left:1em;
			}
		.gad
		{
			text-align:left; 
			width: 100%;
		}
        .saleticket
		{
			font-size:0.8em;
		}
		.saleticket a
		{
			text-decoration:underline !important;	
            padding-right:15px;
		}
        .relatedlink a
        {
			float:left;
			padding:5px 0 !important;
		}
        .travelad
		{
	 		border-left:15px solid #ddd;
			margin:20px;
			padding:20px;
			line-height:2em;
			background-color:#eee;
			
		}

		.smalltopic
		{
			float: left; text-align: left; padding:10px 0px 0px 0px;height:340px;margin:0 30px 30px 30px;
		}
		.smalltopicword
		{
			max-width:400px;
		}
		.mobile .smalltopic
		{
			float: left; text-align: left; padding:10px 0px 0px 0px;height:290px;margin:0 30px 30px 30px;
		}
		.mobile.smalltopicword
		{
			max-width:400px;
		}
        
		.articleindex
		{
			background:#FFFFCE;
			margin:15px !important;
			padding:0 !important;
			width:300px;
			position:relative;
			font-size:0.8em;
			
		}
		.articleindex li
		{
			border:0px !important;
			list-style-type:none;
			padding:0 0 0 20px !important;
			line-height:0.8em important;
		}


.sidebar img
{max-width:100%}

.main-inner
{padding-top:10px; !important;}	

.sidebarsmalltitle
{padding:20px 0 5px 0;margin-bottom:5px;width:100%;border-bottom:1px solid;text-align:center;font-size:16px;}

        img.lazy {
             opacity: 0;
            } 
            img.loaded, 
            img.error {
				transition: opacity 0.5s;
			}
            img.initial,
			img.loaded,
			img.error {
				opacity: 1;
			}



/*--upiscustomize--*/

#main{position:relative;top:0px;}
#crosscol{
margin:0px !important;
padding:0px !important;
}

.slider_container {
width:100%;
height:569px;
position:relative;
margin:-7px 0 -10px 10px;
}

.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.slider_container div {
    -webkit-animation: round 12s linear infinite;
            animation: round 12s linear infinite;
}

@-webkit-keyframes round {
    8.3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    33.2% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    41.5% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@keyframes round {
    8.3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    33.2% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    41.5% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}
.slider_container div:nth-child(1) {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}

/* Content
----------------------------------------------- */
html body .content-outer {
  min-width: 0;
  max-width: 100%;
  width: 100%;
}
.body-fauxcolumn-outer .cap-top {
  position: absolute;
  z-index: 1;

  height: 276px;
  width: 100%;

/* Columns
----------------------------------------------- */
.content-inner {
  padding: 0;
}

.header-inner .section {
  margin: 0 16px;
}

.tabs-inner .section {
  margin: 0 16px;
}

#layout .main-inner .column-center-inner {
  margin-top: 0;
}
.main-inner
{padding-top:15px; !important;}	

/* Header
----------------------------------------------- */
.header-inner .Header .titlewrapper,
.header-inner .Header .descriptionwrapper {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
	
#layout .tabs-outer {
  overflow: visible;
}

.tabs-cap-top, .tabs-cap-bottom {
  position: absolute;
  width: 100%;

/* Widgets
----------------------------------------------- 430修正讓小工具間格變小原27px*/
.main-inner .section {
  margin: 0 10px;
  padding:0;
}
#layout .main-inner .column-left-outer,
#layout .main-inner .column-right-outer {
  margin-top: 0;
}
.main-inner .widget #ArchiveList ul li {
  padding-top: .25em;
  padding-bottom: .25em;
}

.main-inner .widget ul li:first-child, .main-inner .widget #ArchiveList ul.flat li:first-child {
  border-top: none;
}

.main-inner .widget ul li:last-child, .main-inner .widget #ArchiveList ul.flat li:last-child {
  border-bottom: none;
}

.post-body {
  position: relative;
} <!--website fontsize -->


.main-inner .widget .post-body ul {
  padding: 0 2.5em;
  margin: .5em 0;

  list-style: disc;
}
/* Posts
----------------------------------------------- */
body .main-inner .Blog {
  padding: 0;
  margin-bottom: 1em;

  background-color: transparent;
  border: none;

  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -goog-ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);

}

.main-inner .section:last-child .Blog:last-child {
  padding: 0;
  margin-bottom: 1em;
}
	
/* mobile
----------------------------------------------- */

